*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    margin-bottom: 30px;
}

.teach, 
.pm{

    border: 1px solid black;
    width: 250px;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

.teach {
    background-color: gray;
}

.pm {
    background-color: green;
}